node_modules/
.env
.env.local
.DS_Store


# Virtual environments
venv/
venv311/
training/venv311/
backend/venv/


# Python cache
__pycache__/
*.pyc

# Generated datasets
X.npy
y.npy

#Stuff
plan.md

*.pkl